In [1]:
import os
import pandas as pd

In [2]:
root = r"C:/Data/PseudoPFLOW/activity/"
out = r'C:/Data/PseudoPFLOW/activity_merged/'

In [13]:
for dir in os.listdir(root):
    print(dir)
    if not os.path.exists(out+'/'+dir+'/'):
        os.mkdir(out+dir+'/')
    filename = set([f[0:12] for f in os.listdir(root+"/"+dir)])
    for f in filename:
        if f == '.~lock.perso':
            continue
        if os.path.getsize(root+dir+'/'+f+'_labor.csv') < 137 or os.path.getsize(root+dir+'/'+f+'_nolabor.csv') < 137 or os.path.getsize(root+dir+'/'+f+'_student.csv') < 137:
            print(f)
        else:
            df  = pd.read_csv(root+dir+'/'+f+'_labor.csv', header=None)
            df2 = pd.read_csv(root+dir+'/'+f+'_nolabor.csv', header=None)
            df3 = pd.read_csv(root+dir+'/'+f+'_student.csv', header=None)
            pop = pd.concat([df, df2, df3], axis=0)
            pop.to_csv(out+'/'+dir+'/'+'activity_'+f[7:12]+'.csv', index=False, header=False)

10
11
12
13

### School
{-1=3839, 1=21823, 2=105334, 3=1890, 99=4548, 4=3174, 5=113, 6=111, 7=2419, 8=5, 9=9, 10=55, 11=2530, 15=1804}

{-1=3881, 1=21851, 2=105983, 99=4563, 3=1849, 4=3205, 5=113, 6=101, 7=2383, 8=4, 9=4, 10=65, 11=2488, 15=1732}

new
{-1=46488, 1=236750, 2=1236133, 99=74071, 3=83583, 4=70340, 5=2033, 6=1774, 7=51918, 8=77, 9=110, 10=791, 11=75551, 13=9, 15=44314}

### Commuter
{-1=286460, 1=886702, 2=3190142, 99=618711, 3=77637, 4=305506, 5=30467, 6=25634, 7=236991, 8=392, 9=1602, 10=17165, 11=219970, 13=90, 15=169232}
957462

{-1=286246, 1=888253, 2=3189110, 3=77890, 99=617629, 4=305051, 5=30549, 6=25868, 7=236856, 8=394, 9=1548, 10=17159, 11=220744, 13=82, 15=169232}
969085

### Non-commuter
566997
{-1=143502, 1=2183841, 2=483611, 3=43079, 99=657100, 4=390885, 7=294099, 11=284240, 15=229566}
566997


## Notes
When debugging, single thread

In [9]:
agent_path = r'C:/Data/PseudoPFLOW/agent/'

In [14]:
df_one = pd.read_csv(os.path.join(out, '10', 'activity_10201.csv'),
                     names=['pid', 'age',	'gender', 'occupation',	'starttime', 'duration', 'activity_type', 'lon', 'lat', 'city_code'])

In [15]:
df_agent = pd.read_csv(os.path.join(agent_path, '10', 'person_10201.csv'),
                       names=['household_id', 'household_type', 'city_code', 'lon', 'lat', 'pid', 'age', 'gender', 'occupation'])
df_agent

,household_id,household_type,city_code,lon,lat,pid,age,gender,occupation
0,10201_1,2,10201,139.130862,36.342478,18742484,61,1,23
1,10201_1,2,10201,139.130862,36.342478,18742485,60,2,21
2,10201_1,2,10201,139.130862,36.342478,18742486,16,2,14
3,10201_2,2,10201,139.130332,36.343932,18742487,69,1,21
4,10201_2,2,10201,139.130332,36.343932,18742488,64,2,21
...,...,...,...,...,...,...,...,...,...
328520,10201_136589,4,10201,139.083263,36.370839,19071004,27,2,21
328521,10201_136590,2,10201,139.078400,36.372768,19071005,48,1,21
328522,10201_136590,2,10201,139.078400,36.372768,19071006,36,2,21
328523,10201_136590,2,10201,139.078400,36.372768,19071007,12,1,13
328524,10201_136591,16,10201,139.083263,36.370839,19071008,22,2,21

In [16]:
len(set(df_one['pid']))

314526