In [16]:
import os
import pandas as pd

In [17]:
root = r"C:/Data/PseudoPFLOW/activity/"
out = r'C:/Data/PseudoPFLOW/activity_merged/'

In [18]:
for dir in os.listdir(root):
    print(dir)
    if not os.path.exists(out+'/'+dir+'/'):
        os.mkdir(out+dir+'/')
    filename = set([f[0:12] for f in os.listdir(root+"/"+dir)])
    for f in filename:
        if f == '.~lock.perso':
            continue
        if os.path.getsize(root+dir+'/'+f+'_labor.csv') < 137 or os.path.getsize(root+dir+'/'+f+'_nolabor.csv') < 137 or os.path.getsize(root+dir+'/'+f+'_student.csv') < 137:
            print(f)
        else:
            df  = pd.read_csv(root+dir+'/'+f+'_labor.csv', header=None)
            df2 = pd.read_csv(root+dir+'/'+f+'_nolabor.csv', header=None)
            df3 = pd.read_csv(root+dir+'/'+f+'_student.csv', header=None)
            pop = pd.concat([df, df2, df3], axis=0)
            pop.to_csv(out+'/'+dir+'/'+'activity_'+f[7:12]+'.csv', index=False, header=False)

22

### School
{-1=3839, 1=21823, 2=105334, 3=1890, 99=4548, 4=3174, 5=113, 6=111, 7=2419, 8=5, 9=9, 10=55, 11=2530, 15=1804}

{-1=3881, 1=21851, 2=105983, 99=4563, 3=1849, 4=3205, 5=113, 6=101, 7=2383, 8=4, 9=4, 10=65, 11=2488, 15=1732}

new
{-1=46488, 1=236750, 2=1236133, 99=74071, 3=83583, 4=70340, 5=2033, 6=1774, 7=51918, 8=77, 9=110, 10=791, 11=75551, 13=9, 15=44314}

### Commuter
{-1=286460, 1=886702, 2=3190142, 99=618711, 3=77637, 4=305506, 5=30467, 6=25634, 7=236991, 8=392, 9=1602, 10=17165, 11=219970, 13=90, 15=169232}
957462

{-1=286246, 1=888253, 2=3189110, 3=77890, 99=617629, 4=305051, 5=30549, 6=25868, 7=236856, 8=394, 9=1548, 10=17159, 11=220744, 13=82, 15=169232}
969085

### Non-commuter
566997
{-1=143502, 1=2183841, 2=483611, 3=43079, 99=657100, 4=390885, 7=294099, 11=284240, 15=229566}
566997


## Notes
When debugging, single thread

### Check #Agents

In [9]:
agent_path = r'C:/Data/PseudoPFLOW/agent/'

In [19]:
def check_num_agent(pref_idx, city_idx, return_df=False):
    names_activity = ['pid', 'age',	'gender', 'occupation',	'starttime', 'duration', 'activity_type', 'lon', 'lat', 'city_code']
    names_agent = ['household_id', 'household_type', 'city_code', 'lon', 'lat', 'pid', 'age', 'gender', 'occupation']
    df_activity = pd.read_csv(os.path.join(out, str(pref_idx), 'activity_'+ str(city_idx) + '.csv'), names=names_activity)
    df_agent =  pd.read_csv(os.path.join(agent_path, str(pref_idx), 'person_' + str(city_idx) + '.csv'), names=names_agent)
    if return_df:
        return df_agent, df_activity
    return len(df_agent), len(set(df_activity['pid']))

In [17]:
from glob import glob

pref_idx = 22
names = [os.path.basename(f) for f in glob(os.path.join(agent_path, str(pref_idx), '*.csv'))]
for name in names:
    num_input, num_output = check_num_agent(pref_idx, name[7:12])
    print(f"{num_output/num_input*100}%")

95.5634939856301%
95.20830052164617%
95.70186114161892%
95.34832660300842%
94.96568223712593%
95.16593256029941%
95.00766740500937%
95.5456018726929%
94.94021888113363%
96.28023811981694%
95.47612677127762%
94.69364065997844%
95.49120438023714%
95.45690048485504%
96.28482972136223%
95.52767420363311%
95.42959155456512%
95.54453945494544%
95.56278153560928%
94.8832605737111%
95.68363536634249%
95.16657852987838%
94.85588942874664%
95.66359467521481%
95.11924357845577%
95.68116969727667%
96.25684224327247%
95.42202261111971%
95.5402716497967%
95.50185403674364%
95.47208077067214%
96.49951155975252%
96.61616876681298%
96.56450815620366%
96.63259170174385%
96.65071770334929%
94.99484284240812%
95.18449426123249%
94.91480426702708%
95.15616233401907%
95.16956446892752%
96.82362775146281%
95.75906241482693%

In [20]:
pref_idx = 22
names = [os.path.basename(f) for f in glob(os.path.join(agent_path, str(pref_idx), '*.csv'))]
for name in names:
    df_agent, df_activity = check_num_agent(pref_idx, name[7:12], return_df=True)
    break

In [21]:
df_agent

,household_id,household_type,city_code,lon,lat,pid,age,gender,occupation
0,22101_1,16,22101,138.413371,35.003699,66218308,49,1,22
1,22101_2,16,22101,138.416206,35.001436,66218309,59,2,21
2,22101_3,14,22101,138.413371,35.003699,66218310,84,1,23
3,22101_3,14,22101,138.413371,35.003699,66218311,89,2,23
4,22101_3,14,22101,138.413371,35.003699,66218312,62,2,23
...,...,...,...,...,...,...,...,...,...
247735,22101_101486,16,22101,138.376396,35.012887,66466043,22,1,21
247736,22101_101487,4,22101,138.376328,35.012975,66466044,42,2,23
247737,22101_101487,4,22101,138.376328,35.012975,66466045,13,2,13
247738,22101_101488,1,22101,138.377023,35.013881,66466046,57,1,21
247739,22101_101488,1,22101,138.377023,35.013881,66466047,64,2,23

In [22]:
df_activity

,pid,age,gender,occupation,starttime,duration,activity_type,lon,lat,city_code
0,66218309,59,2,21,0,24300,1,138.416206,35.001436,22101
1,66218309,59,2,21,24300,36000,2,138.375475,34.960498,22101
2,66218309,59,2,21,60300,26100,1,138.416206,35.001436,22101
3,66218313,63,2,21,0,28800,1,138.410979,35.003842,22101
4,66218313,63,2,21,28800,17100,2,138.397628,35.031882,22101
...,...,...,...,...,...,...,...,...,...,...
930029,66466037,5,1,11,77400,9000,1,138.375973,35.014054,22101
930030,66466045,13,2,13,0,30600,1,138.376328,35.012975,22101
930031,66466045,13,2,13,30600,28800,3,138.377634,35.032261,22101
930032,66466045,13,2,13,59400,17100,400,138.392288,34.971742,22101
930033,66466045,13,2,13,76500,9900,1,138.376328,35.012975,22101

In [61]:
len(set(df_agent[df_agent['occupation']==10]['pid']))

5330

In [62]:
len(set(df_activity[df_activity['occupation']==10]['pid']))

0

In [38]:
set(df_agent['occupation'])

{10, 11, 12, 13, 14, 15, 16, 21, 22, 23}

In [ ]:
10, 22